.row-center {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.row-start {
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
}

.row-start-stretch {
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: stretch;
}

.row-end {
    display: flex;
    flex-direction: row;
    justify-content: end;
    align-items: center;
}

.row-space-between {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.row-space-between-stretch {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: stretch;
}

.row-center-stretch {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: stretch;
}

.row-center-start {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: start;
}

.row-space-evenly {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.row-space-around {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.row-center-stretch {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: stretch;
}

.column-start-center {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
}

.column-start-start {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
}

.column-start-end {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: end;
}

.column-center-center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.column-center-start {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
}

.column-center-end {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: end;
}

.column-end-start {
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: start;
}

.column-end-center {
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: center;
}

.column-end-end {
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: end;
}


.column-spacebetween-center {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.column-spacebetween-start {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: start;
}

.column-spacebetween-end {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: end;
}

.column-spacebetween-stretch {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: stretch;
}

.column-start-stretch {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: stretch;
}

.column-center-stretch {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
}

.lineheight-fit {
    line-height: 100%;
}